body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    color: green;
    font-family: 'Righteous', cursive;
}

canvas {
    border-radius: 5px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.493);
}